$sizeBox: 30px;
$w: 14 * 30px;
$sizeChess: 20px;
$sizeBox2: $sizeBox - 1;

body {
    margin: 0;
    padding: 0;
    height: 600px;
    max-height: 600px
}

#app {
    background: #fff;
    margin-top: 30px;
    overflow: hidden;
    height: 600px;
    max-height: 600px
}

.chess-board {
    width: $w;
    height: $w;
    background: #dba647;
    background-image: url(./images/grid-bg-sm.jpg);
    background-size: contain;
    padding: 10px;
    border:1px solid #888;
    box-sizing: content-box;
    position: relative;

    .square {
        width: $sizeBox;
        height: $sizeBox;
        background: rgba(255,255,255,0.5);
        display: block;
        float:left;

        &.even {
            background:rgba(88, 78, 78, 0.5);
        }
    }
}

.bg-grid {
    width: $w;
    height: $w;
    border:1px solid #000;
    // background: -webkit-linear-gradient(top, rgba(0,0,0,0) $sizeBox2, #000 $sizeBox), -webkit-linear-gradient(left, rgba(0,0,0,0) $sizeBox2, #000 $sizeBox);
    // background-repeat: repeat;

    // background-image: url(./images/grid-bg.jpg);
    // background-size: $w+3 $w+3;
    // background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
}

.chess,.chess-sample {
    width: $sizeChess;
    height: $sizeChess;
    left: -99999px;
    top: -99999px;
    position: absolute;
    display: block;
    border-radius: 50%;
    background: radial-gradient(#fff, #000 50%, #000);
    
    &.white {
        background: radial-gradient(#fff, #EEE 50%, #EEE);
    }

    &.pending {
        opacity: 0.5;
    }
}

.chess-sample {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: static;
    vertical-align: middle;
    box-shadow: 1px 1px 3px #6e5353;
    margin-left: 5px;
}

.board-wrap {
    background: #dba647;
    overflow: hidden;
    border: 1px solid #000;
    box-sizing: content-box;
}
.board-canvas {
    width: 440px;
    height: 440px;
}
.bottom-bar {
    margin-top: 10px;
}